
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section {
    margin-bottom: 4rem;
}

/* Header */

header {
    min-height: 100vh;

    background-image: url("images/Anime Lines.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid #110b15;

    /* Center items flexbox fallback */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    padding: 2rem 8rem;
    font-size: 5.4rem;
    font-weight: 300;
    color: #42d08e;
    text-shadow: 0 0 18px #000;
}

header .scroll-prompt {
    position: absolute;
    z-index: 8;
    bottom: 2.2rem;
    font-size: .9rem;
    text-transform: uppercase;
    color: #ffffff;
}

header .scroll-prompt::before,
header .scroll-prompt::after {
    z-index: 8;
    content: '';
    position: absolute;
    border-bottom: 2px solid #ffffff;
    bottom: -.6rem;
}

header .scroll-prompt::before {
    left: 0;
    right: 49.3%;
    transform: rotate(12deg);
}

header .scroll-prompt::after {
    left: 49.3%;
    right: 0;
    transform: rotate(-12deg);
}

header,
section {
    margin-bottom: 5rem;
}

h3 {
    font-size: 1.5rem;
}

/* Section Header */

section > h2 {
    position: relative;
    text-align: center;
    width: 84%;
    margin: 3rem auto;
    font-size: 2rem;
    font-weight: 400;
    color: #384d45;
}

section > h2 > span {
    background-color: #ffffff;
    padding: 0 1rem;
}

section > h2::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 52%;
    left: 0;
    right: 0;
    border-top: 2px solid #8a9792;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #110b15;
    color: #b8bcd3;
}

footer .center {
    text-align: center;
}

footer .right {
    text-align: right;
}

footer a {
    color: #4da285;
}

footer a:hover {
    background-color: #2f6a57;
    color: #ffffff;
}

footer details summary:hover {
    cursor: pointer;
    color: #ffffff;
}

/* Fixed Header */

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #110b15;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    box-shadow: 0 0 7px rgba(1, 5, 12, .08);
    align-items: center;
}

.fixed-header nav {
    padding: .6rem 2rem;
}

.fixed-header .brand {
    color: #42d08e;
    padding: 0 2rem;
    font-size: 2rem;
}

.fixed-header nav a {
    margin-left: .6rem;
    padding: 0 .6rem;
    text-decoration: none;
    color: #4da285;
    transition: .08s;
}

.fixed-header nav a:hover {
    background-color: #2f6a57;
    color: #ffffff;
}

.fixed-header .language {
    padding-right: .7rem;
    margin-right: 1.2rem;
    border-right: 2px solid #322e48;
}

.fixed-header nav label[for="language"] {
    color: #b8bcd3;
    font-size: 1rem;
    margin-right: .2rem;
}

.fixed-header select[name="language"] {
    color: #4da285;
    font-size: 1rem;
    background-color: #110b15;
    border: 2px solid #322e48;
    cursor: pointer;
}

.fixed-header select option {
}

/* About Section */

#about p {
    max-width: 95%;
    width: 1000px;
    margin: 0 auto;
    font-size: 1.2rem;
}

/* Staff Section */

#staff .list {
    display: flex;
    justify-content: center;
}

#staff .profile {
    width: 240px;
    padding: 0 3.4rem;
}

#staff .profile img {
    width: 100%;
}

/* Scehdule Section */

#schedule .list {
    max-width: 95%;
    width: 1060px;
    margin: 0 auto;
    border: 1px solid #d1d1d3;
    border-radius: 8px;
}

#schedule .event {
    padding: 1rem 3rem;
}

#schedule .event:not(:last-child) {
    border-bottom: 1px solid #d1d1d3;
}

#schedule .event h3 {
    font-weight: 600;
}

#schedule .event .title {
    color: #24404a;
}

#schedule .event .date {
    color: #6396cc;
}

#schedule .event .date::after {
    content: ' - ';
    opacity: .4;
}

/* Responsiveness */

@media(max-width: 600px) {
    .fixed-header {
        flex-direction: column;
    }

    .fixed-header nav a {
        font-size: 1rem;
    }
}

@media(max-width: 1168px) {
    #staff .profile {
        padding: 0 .5rem;
    }

    #staff .list {
        flex-wrap: wrap;
    }
}
