
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header */

header {
    min-height: 100vh;

    /* Center items flexbox fallback */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center items */
    display: grid;
    place-items: center;
}

header h1 {
    padding-bottom: 3rem;
    font-size: 5rem;
    font-weight: 300;
    color: #42d08e;
}

/* Section Header */

section > h1 {
    position: relative;
    text-align: center;
    width: 84%;
    margin: 3rem auto;
    font-size: 2rem;
    font-weight: 400;
    color: #384d45;
}

section > h1 > span {
    background-color: #ffffff;
    padding: 0 1rem;
}

section > h1::before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 52%;
    left: 0;
    right: 0;
    border-top: 2px solid #8a9792;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #302e32;
    color: #b8bcd3;
}

/* Staff Section */

#staff .list {
    display: flex;
    justify-content: center;
}

#staff .profile {
    width: 240px;
    padding: 0 3.4rem;
}

#staff .profile img {
    width: 100%;
}

/* Scehdule Section */

#schedule .list {
    max-width: 95%;
    width: 1000px;
    margin: 0 auto;
}

/* Responsiveness */

@media(max-width: 1168px) {
    #staff .profile {
        padding: 0 .5rem;
    }

    #staff .list {
        flex-wrap: wrap;
    }
}
